@page "/fetchdata"
@using BlazorApp1.Service
@using BlazorApp1.DataBaseClasses

@inject IDataBaseService DataBaseService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

else {
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>ФИО</th>
        <th>Пост</th>
        <th>Роль</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Users) {
        <tr>
            <td>@user.Id</td>
            <td>@(user.LastName + " " + user.Name + " " + user.MiddleName)</td>
            <td>@user.Post.PostName</td>
            <td>@user.Role</td>
        </tr>
    }
    </tbody>
</table>
}

@code {
    private List<User> Users;

    protected override async Task OnInitializedAsync() {
        Users = DataBaseService.GetUsers();
    }

}