@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@using System.Text
@using System.Text.Encodings.Web
@using System.Text.Json
@using BlazorApp1.Data
@using BlazorApp1.DataBaseClasses
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.EntityFrameworkCore.Internal
@using Microsoft.Net.Http.Headers
@using Npgsql.Replication
@using MediaTypeHeaderValue = System.Net.Http.Headers.MediaTypeHeaderValue
@inject NavigationManager NavigationManager
@inject IAccountService AccountService
@inject IHttpClientFactory ClientFactory
@inject HttpClient httpClient

<div style="top: 25%; position: absolute; width: 100%;">
    
    <div style="height: 250px;  width: 250px; text-align: center;
    text-align: center;
    margin: auto;   
    ">
        <h2>Login Form</h2>
        <EditForm Model="@PassData" OnValidSubmit="@HandleValidSubmit" >
            <DataAnnotationsValidator  />
            <ValidationSummary/>

            <p>
                <label>Email</label><br/>
                <input @bind="@PassData.Login" name='email'/>
            </p>
            <p>
                <label>Password</label><br/>
                <input @bind="@PassData.HashPass" type='password' name='password'/>
            </p>
            <input type='submit' value='Login'/>
        </EditForm >
    </div>
</div>

@code {
    User PassData = new User();

    protected override void OnInitialized() {
        base.OnInitialized();
        
    }

    private async Task HandleValidSubmit() {    
        
        var errors = new Dictionary<string, List<string>>();

        if (string.IsNullOrEmpty(PassData.Login))
        {
            errors.Add(nameof(PassData.Login),
                new() { "For a 'Defense' ship classification, " +
                        "'Description' is required." });
        }
        
            var query = new Dictionary<string, string> {  
                { "login", "Jignesh" },  
                { "pass", "Trivedi" }  
            };  
        NavigationManager.NavigateTo(QueryHelpers.AddQueryString("/login", query),  true);
    }
}
